<div class="title">
  <div
    class="w-4/5 max-w-screen-xl m-auto md:grid grid-cols-2 gap-y-10 min-h-64 py-6"
  >
    <div class="my-auto">
      <h1 class="text-5xl w-fit mx-auto mb-3 md:m-0 font-bold cinzel">
        Collections
      </h1>
      <p class="text-justify md:text-left">
        In the Collections section you will enter the world of unique jewelry,
        created to highlight the diversity of styles and individualities
        preferences. Each collection is a unique story, a harmony of elegance
        meets modern design, creating jewelry that is both an expression of
        personal taste and the beauty of jewelry art.
      </p>
    </div>
    <div class="h-full relative hidden md:block">
      <img
        src="../../assets/images/rings-bg.png"
        alt=""
        class="absolute w-full h-full object-contain"
      />
    </div>
  </div>
</div>

<div class="w-4/5 m-auto flex flex-col gap-y-10 max-w-screen-xl mb-8">
  <app-link
    *ngFor="let link of collections"
    [header]="link.name"
    [desc]="link.desc"
    [src]="link.img"
    [flotRight]="link.floatRight"
  />
</div>
