<div class="title">
  <div
    class="w-4/5 max-w-screen-xl m-auto md:grid grid-cols-2 gap-y-10 min-h-64 py-6"
  >
    <div class="my-auto">
      <h1 class="text-5xl w-fit mx-auto mb-3 md:m-0 font-bold cinzel">
        Kolekcje
      </h1>
      <p class="text-justify md:text-left">
        W dziale "Kolekcje" przenikniesz do świata wyjątkowej biżuterii,
        stworzonej z myślą o podkreśleniu różnorodności stylów i indywidualnych
        upodobań. Każda kolekcja to unikalna opowieść, gdzie harmonia elegancji
        spotyka się z nowoczesnym designem, tworząc biżuterię, która jest
        zarówno wyrazem osobistego gustu, jak i piękna sztuki jubilerskiej.
      </p>
    </div>
    <div class="h-full relative hidden md:block">
      <img
        src="../../assets/images/rings-bg.png"
        alt=""
        class="absolute w-full h-full object-contain"
      />
    </div>
  </div>
</div>

<div class="w-4/5 m-auto flex flex-col gap-y-10 max-w-screen-xl mb-8">
  <app-link
    *ngFor="let link of collections"
    [header]="link.name"
    [desc]="link.desc"
    [src]="link.img"
    [flotRight]="link.floatRight"
  />
  <!-- <app-link 
    header="asd"
    desc="Kolekcja inspirowana pięknem natury, gdzie delikatne formy i precyzyjne
  zdobienia odzwierciedlają subtelność otaczającego świata, tworząc
  biżuterię pełną wdzięku."
    src="../../assets/images/collections/collection 1.png"
  />
  <app-link
    header="asd"
    desc="Kolekcja inspirowana pięknem natury, gdzie delikatne formy i precyzyjne
  zdobienia odzwierciedlają subtelność otaczającego świata, tworząc
  biżuterię pełną wdzięku."
    src="../../assets/images/collections/collection 2.png"
    [flotRight]="true"
  />
  <app-link
    header="asd"
    desc="Kolekcja inspirowana pięknem natury, gdzie delikatne formy i precyzyjne
  zdobienia odzwierciedlają subtelność otaczającego świata, tworząc
  biżuterię pełną wdzięku."
    src="../../assets/images/collections/collection 3.png"
  />
  <app-link
    header="asd"
    desc="Kolekcja inspirowana pięknem natury, gdzie delikatne formy i precyzyjne
  zdobienia odzwierciedlają subtelność otaczającego świata, tworząc
  biżuterię pełną wdzięku."
    src="../../assets/images/collections/collection 4.png"
    [flotRight]="true"
  /> -->
</div>
