<div class="relative h-48 flex">
  <img
    src="../../assets/images/about-bg.png"
    alt=""
    class="absolute w-full h-full left-0 top-0 object-center -z-10"
  />
  <h1 class="cinzel m-auto w-fit text-center md:text-left text-2xl font-bold">
    Welcome to the world of Vivida Jewelry!
  </h1>
</div>

<div class="w-full content">
  <app-info src="../../assets/images/about 1.png">
    <h2>About us</h2>
    <p>
      We are passionate about beauty and perfection, whose goal is to create
      unforgettable moments through unique works of jewelry art. Our the story
      began with love for detail, precision craftsmanship and the desire to
      provide unique jewelry that highlights the individuality and beauty of
      each person.
    </p>
    <p>
      We would like to share with you our constant passion for creating no only
      jewelry, but also unique memories that will make everyone happy the moment
      will become unforgettable and special.
    </p>
  </app-info>
  <app-info src="../../assets/images/about 2.png" [reverse]="true">
    <h2>Our Mission</h2>
    <p>
      At Vivida Jewelry, we want to convey emotions and stories through ours
      products. Each of our pieces is carefully designed to exude elegance,
      classic and individual style. Our goal is to create not only decorations
      for you, but also valuable memories.
    </p>
    <h2 class="mt-12">Our Values</h2>
    <p>
      Quality without compromise: We care about the highest quality of our
      products, using the purest gemstones and carefully selected materials.
    </p>
    <p>
      Uniqueness and Individuality: Each of our collections and designs is
      unique, just like our clients. We want our jewelry to be an expression of
      yours personal history.
    </p>
    <p>
      Passion for Craft: Our team is committed to the creation process, taking
      care of every detail to provide you with products you will enjoy proud.
    </p>
  </app-info>
  <app-info src="../../assets/images/about 3.png">
    <h2>Jak Nas Poznać</h2>
    <p>
      We invite you to explore the secrets of the world of Vivida Jewelry.
      Discover our collections, learn about our values ​​and experience the
      magic that our jewelry carries with it.
    </p>
    <p>
      We cordially invite you to visit our store where every jewelry tells a
      unique story of elegance and beauty, ready to complement yours a unique
      story.
    </p>
    <p class="!mt-12">Thank you for being part of our history.</p>
    <p>With warmest regards,<br />Vivida Jewelry Team</p>
  </app-info>
</div>
