<div class="relative h-48 flex">
  <img
    src="../../assets/images/about-bg.png"
    alt=""
    class="absolute w-full h-full left-0 top-0 object-center -z-10"
  />
  <h1 class="cinzel m-auto w-fit text-center md:text-left text-2xl font-bold">
    Witamy w świecie Biżuterii Vivida!
  </h1>
</div>

<div class="w-full content">
  <app-info src="../../assets/images/about 1.png">
    <h2>O nas</h2>
    <p>
      Jesteśmy pasjonatami piękna i doskonałości, których celem jest tworzenie
      niezapomnianych chwil poprzez unikalne dzieła sztuki biżuteryjnej. Nasza
      historia zaczęła się z miłością do detali, precyzją rzemiosła i
      pragnieniem dostarczania wyjątkowej biżuterii, która podkreśla
      indywidualność i piękno każdej osoby.
    </p>
    <p>
      Pragniemy podzielić się z Tobą naszą nieustającą pasją do tworzenia nie
      tylko biżuterii, ale także wyjątkowych wspomnień, które sprawią, że każdy
      moment stanie się niezapomniany i wyjątkowy.
    </p>
  </app-info>
  <app-info src="../../assets/images/about 2.png" [reverse]="true">
    <h2>Nasza Misja</h2>
    <p>
      W Biżuterii Vivida pragniemy przekazywać emocje i historie poprzez nasze
      produkty. Każdy nasz element jest starannie zaprojektowany, aby emanować
      elegancją, klasyką i indywidualnym stylem. Naszym celem jest stworzenie
      dla Ciebie nie tylko ozdób, ale również wartościowych wspomnień.
    </p>
    <h2 class="mt-12">Nasze Wartości</h2>
    <p>
      Jakość bez Kompromisów: Dbamy o najwyższą jakość naszych produktów,
      korzystając z najczystszych kamieni szlachetnych i starannie
      wyselekcjonowanych materiałów.
    </p>
    <p>
      Unikalność i Indywidualność: Każda nasza kolekcja i projekt są wyjątkowe,
      podobnie jak nasi klienci. Chcemy, aby nasza biżuteria była wyrazem Twojej
      osobistej historii.
    </p>
    <p>
      Pasja do Rzemiosła: Nasza ekipa z oddaniem podchodzi do procesu tworzenia,
      dbając o każdy detal, aby dostarczyć Ci produkty, z których będziesz
      dumny.
    </p>
  </app-info>
  <app-info src="../../assets/images/about 3.png">
    <h2>Jak Nas Poznać</h2>
    <p>
      Zapraszamy Cię do zgłębienia tajemnic świata Biżuterii Vivida. Odkryj
      nasze kolekcje, dowiedz się o naszych wartościach i doświadcz magii, jaką
      niesie ze sobą nasza biżuteria.
    </p>
    <p>
      Serdecznie zapraszamy do odwiedzenia naszego sklepu, gdzie każda biżuteria
      opowiada unikalną historię elegancji i piękna, gotową uzupełnić Twoją
      niepowtarzalną historię.
    </p>
    <p class="!mt-12">Dziękujemy za to, że jesteś częścią naszej historii.</p>
    <p>Z najserdeczniejszymi pozdrowieniami,<br />Zespół Biżuterii Vivida</p>
  </app-info>
</div>
