@import "../../styles.scss";

.main {
  .left {
    background-color: $secondary;
    * {
      color: #e1e1e1;
    }
  }
}

.presents {
  background-color: #4b5c66;
  height: fit-content;
  .links {
    max-width: 1100px;
  }
}
