<div class="main w-full h-fit">
  <div class="top relative w-full">
    <img
      src="../../assets/images/Main.png"
      class="w-full h-full object-cover"
    />
    <div
      class="left absolute left-0 top-0 w-1/2 h-full opacity-80 flex flex-col justify-center"
    >
      <div class="content w-2/3 max-w-lg m-auto">
        <h2 class="text-4xl">Welcome to the World of Elegance Vivid jewelry</h2>
        <p class="text-justify mt-4">
          At Vivida Jewelry, we create unique works of art that exude beauty,
          classicity and individual style.
        </p>
        <button-border
          link="home"
          text="Discover >"
          class="ml-auto block w-fit"
        />
      </div>
    </div>
  </div>
  <div class="pros flex justify-between m-auto w-full lg:w-5/6 gap-x-4 py-14">
    <pros
      link="../../assets/images/guarantee.svg"
      header="Gwarancja Jakości i Piękna"
      desc="Każdy nasz produkt to gwarancja nie tylko doskonałej jakości, ale także niepowtarzalnego piękna."
    />
    <pros
      link="../../assets/images/diamond.svg"
      header="Ekskluzywna Kolekcja Biżuterii"
      desc="Nasz sklep to raj dla miłośników biżuterii, oferujący szeroką i ekskluzywną kolekcję ozdób"
    />
    <pros
      link="../../assets/images/monitor.svg"
      header="Wygodne Zakupy Online"
      desc="Zapraszamy do wygodnych zakupów online, gdzie w kilka kliknięć możesz znaleźć wymarzoną biżuterię."
    />
  </div>
</div>

<div class="h-screen flex flex-col justify-center">
  <div
    class="recomended flex flex-col gap-y-8 m-auto h-4/5 w-11/12 max-w-screen-3xl"
  >
    <div class="top flex gap-x-8 justify-center h-1/2">
      <recommended
        [isLarge]="true"
        src="../../assets/images/recommended 1.svg"
        header="Kolczyki"
        class="w-2/3"
      />
      <recommended
        [isLarge]="false"
        src="../../assets/images/recommended 2.svg"
        header="Pierścionki"
        class="w-1/3"
      />
    </div>
    <div class="bottom flex gap-x-8 justify-center h-1/2">
      <recommended
        [isLarge]="false"
        src="../../assets/images/recommended 3.svg"
        header="Naszyjniki"
        class="w-1/3"
      />
      <recommended
        [isLarge]="true"
        src="../../assets/images/recommended 4.svg"
        header="Branzoletki"
        class="w-2/3"
      />
    </div>
  </div>
</div>

<div class="presents">
  <div class="content w-11/12 max-w-screen-3xl m-auto">
    <div class="left w-1/3">
      <h1>Wybierz prezent dla bliskich</h1>
      <p>
        Znajdź idealne rozwiązanie dla każdej okazji. Odkryj propozycje, które z
        pewnością zachwycą obdarowywaną osobę.
      </p>
      <button-border link="home" text="Zobacz więcej >" />
    </div>
    <div class="links"></div>
  </div>
</div>
