<h1 class="w-fit m-auto text-3xl my-10 cinzel font-bold">Contact</h1>
<div class="flex flex-col-reverse lg:grid grid-cols-2 w-4/5 max-w-screen-lg mx-auto gap-4 mb-10">
  <div>
    <h2 class="text-2xl cinzel">Contact info</h2>
    <div class="flex flex-col gap-y-5 mt-8">
      <info
        src="../../assets/images/contact img/phone.svg"
        header="+48 607 761 708"
        paragraph="Infolinie są czynne w godz. 08:00 - 16:00 w dni robocze"
      />

      <info
        src="../../assets/images/contact img/email.svg"
        header="m.gondorek.kontakt@gmail.com"
      />
      <info
        src="../../assets/images/contact img/localization.svg"
        header="Kraków"
        paragraph="ul. Podbiałowa 125 "
      />
    </div>
  </div>
  <div class="flex flex-col gap-y-6">
    <input type="text" name="" id="" placeholder="Name i surname" />
    <input type="text" name="" id="" placeholder="E-mail" />
    <textarea
      name=""
      id=""
      class="font-normal text-sm min-h-52"
      placeholder="Message"
    ></textarea>
    <button-border text="Wyślij" class="ml-auto w-full lg:w-1/2" [fullWidth]="true" />
  </div>
</div>
