@import "../../styles.scss";

$color: #acacac;
$time: 0.5s;

input,
textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $color;
  color: #535353;
  padding: 5px 15px;
  outline: none;
  transition: color $time, border $time;
}

textarea {
  border: 1px solid $color;
  padding: 10px 15px;
}

input::placeholder,
textarea::placeholder {
  color: $color;
  transition: color $time;
}

input:focus {
  color: $main;
  border-bottom: 1px solid $main;
}

textarea:focus {
  color: $main;
  border: 1px solid $main;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: $main;
}
