<div class="w-11/12 m-auto max-w-screen-2xl">
  <div class="my-5">
    <app-link [href]="['Biżuteria', 'Pierścionki', name]" />
  </div>
  <div
    class="max-w-[650px] min-h-[400px] lg:max-w-none mx-auto xl:max-w-none flex xl:grid grid-cols-2 gap-5 flex-col-reverse lg:flex-row"
  >
    <div class="flex flex-col xl:flex-row w-full lg:w-2/5 xl:w-full gap-5">
      <div
        class="flex flex-row xl:flex-col xl:w-fit gap-5 overflow-hidden xl:h-1 xl:min-h-full relative"
      >
        <div
          class="h-full xl:h-fit xl:w-full absolute left-0 top-1/2 -translate-y-1/2 xl:translate-y-0 xl:left-1/2 xl:top-0 xl:-translate-x-1/2 z-10 bg-gray-200 opacity-80 hover:opacity-100 cursor-pointer flex justify-center"
          (click)="moveUp()"
          *ngIf="true"
        >
          <img
            src="../../assets/images/arrow-up.svg"
            alt=""
            class="hidden xl:block m-auto p-2"
          />
          <img
            src="../../assets/images/arrow-left.svg"
            alt=""
            class="block xl:hidden m-auto p-2"
          />
        </div>
        <div
          class="h-full xl:h-fit xl:w-full absolute right-0 bottom-1/2 translate-y-1/2 xl:translate-y-0 xl:left-1/2 xl:bottom-0 xl:-translate-x-1/2 z-10 bg-gray-200 opacity-80 hover:opacity-100 cursor-pointer flex justify-center"
          (click)="moveDown()"
        >
          <img
            src="../../assets/images/arrow-down.svg"
            alt=""
            class="hidden xl:block m-auto p-2"
          />
          <img
            src="../../assets/images/arrow-right.svg"
            alt=""
            class="block xl:hidden m-auto p-2"
          />
        </div>
        <div
          class="relative aspect-square h-fit w-1 min-w-[calc((100%-2.5rem)/3)] xl:w-full xl:min-w-fit xl:h-1 xl:min-h-[calc((100%-2.5rem)/3)] itemImg"
          *ngFor="let item of src"
          #child
          [ngClass]="{ border: item == mainSrc }"
        >
          <img
            src="../../assets/images/recommended-bg.svg"
            alt=""
            class="w-full h-full"
            draggable="false"
          />
          <img
            src="{{ item }}"
            class="w-4/5 h-4/5 object-contain block absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            draggable="false"
            (click)="setImage(item)"
          />
        </div>
      </div>
      <div class="relative">
        <img
          src="../../assets/images/recommended-bg.svg"
          alt=""
          class="w-full h-full"
          draggable="false"
        />
        <img
          src="{{ mainSrc }}"
          class="w-4/5 h-4/5 object-contain block absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
          draggable="false"
        />
      </div>
    </div>
    <div
      class="flex flex-col justify-between h-auto w-full lg:w-3/5 xl:w-full xl:h-full"
    >
      <div>
        <h1 class="text-2xl font-medium">{{ name }}</h1>
        <p class="text-xl">{{ price }} zł</p>
      </div>
      <div class="xl:my-4">
        <p class="text-justify">
          {{ description[0] }}
        </p>
        <p
          (click)="scroll(desc)"
          class="cursor-pointer mt-4 xl:mt-2 text-[#E3A74D]"
          *ngIf="description.length > 0"
        >
          Czytaj więcej
        </p>
      </div>
      <div class="mt-5 lg:mt-0">
        <div class="w-full lg:w-1/2 min-w-52 mb-3">
          <app-select header="Size" />
        </div>
        <div class="flex gap-3 flex-col sm:flex-row">
          <div class="w-full sm:w-max">
            <app-count />
          </div>
          <div class="w-full">
            <button-border text="Dodaj do koszyka" [fullWidth]="true" />
          </div>
          <app-count />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bestsellers pb-5 pt-10 my-10">
  <slider header="Podobne produkty" theme="dark" />
</div>
<div #desc class="w-11/12 m-auto max-w-screen-2xl flex flex-col gap-y-5 mb-8">
  <h1 class="text-2xl">O produkcie</h1>
  <p *ngFor="let paragraph of description">
    {{ paragraph }}
  </p>
  <div>
    <div class="line my-4"></div>
    <div class="flex">
      <h1 class="text-2xl font-medium w-48">Szczegóły</h1>
      <div class="flex flex-col gap-y-1.5">
        <p *ngFor="let paragraph of details">
          {{ paragraph.split(":")[0]
          }}<span *ngIf="paragraph.split(':').length > 1" class="font-semibold"
            >: {{ paragraph.split(":")[1] }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
