.bestsellers {
  background-color: #6e7c84;
}

.line {
  width: 100%;
  border-top: 1px solid black;
}

form {
  border: 1px solid #e3a74d;
  $main: #e3a74d;
  $color: #acacac;
  $time: 0.4s;

  h1 {
    color: $main;
  }

  input,
  textarea {
    background-color: transparent;
    border: 0;
    border: 1px solid $color;
    color: #535353;
    padding: 5px 15px;
    outline: none;
    transition: color $time, border $time;
  }

  textarea {
    padding: 10px 15px;
  }

  input::placeholder,
  textarea::placeholder {
    color: $color;
    transition: color $time;
  }

  input:focus,
  textarea:focus {
    color: $main;
    border: 1px solid $main;
  }

  input:focus::placeholder,
  textarea:focus::placeholder {
    color: $main;
  }
}

.itemImg {
  transition: transform 0.7s, border 0.2s;
  border: 1px solid transparent;
}

.border {
  border: 1px solid #e3a74d;
}
