.line {
  height: 1px;
  width: 100%;
  background-color: #e3a74d;
}

.title {
  background: #4b5c66;
  opacity: 70%;
  color: #e3a74d;
}

.large {
  aspect-ratio: 0.9;
  @media screen and (max-width: 1500px) {
    aspect-ratio: 0.8;
  }
}
