<div class="flex flex-col text-center w-fit m-auto mt-10 text-lg gap-2 mb-10">
  <h1 class="text-xl">Icons created by:</h1>
  <a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons"
    >Calendar icons created by bqlqn - Flaticon</a
  >
  <a href="https://www.flaticon.com/free-icons/more" title="more icons"
    >More icons created by Bombasticon Studio - Flaticon</a
  >
  <a href="https://www.flaticon.com/free-icons/more" title="more icons"
    >More icons created by Pixel perfect - Flaticon</a
  >
  <a href="https://www.flaticon.com/free-icons/phone" title="phone icons"
    >Phone icons created by Gregor Cresnar - Flaticon</a
  >
  <a href="https://www.flaticon.com/free-icons/email" title="email icons"
    >Email icons created by Freepik - Flaticon</a
  >
  <a href="https://www.flaticon.com/free-icons/local" title="local icons"
    >Local icons created by Uniconlabs - Flaticon</a
  >
  <a
    href="https://www.flaticon.com/free-icons/exclusive"
    title="exclusive icons"
    >Exclusive icons created by srip - Flaticon</a
  >
  <a
    href="https://www.flaticon.com/free-icons/guarantee"
    title="guarantee icons"
    >Guarantee icons created by Slidicon - Flaticon</a
  >
  <a
    href="https://www.flaticon.com/free-icons/ecommerce"
    title="ecommerce icons"
    >Ecommerce icons created by Freepik - Flaticon</a
  >
  <a href="https://www.flaticon.com/free-icons/hearth" title="hearth icons"
    >Hearth icons created by Creatype - Flaticon</a
  >
  <a
    href="https://www.flaticon.com/free-icons/shopping-bag"
    title="shopping bag icons"
    >Shopping bag icons created by Cap Cool - Flaticon</a
  >
</div>
