<header class="h-20 px-10 flex">
  <div class="left flex flex-row gap-x-10 my-auto w-fit">
    <a href="/home"><h1 class="text-3xl">VIVIDA</h1></a>
    <a href="" class="my-auto text-lg"><p>O nas</p></a>
    <a href="" class="my-auto text-lg"><p>Biżuteria</p></a>
    <a href="/contact" class="my-auto text-lg"><p>Kontakt</p></a>
    <a href="" class="my-auto text-lg"><p>Kolekcje</p></a>
  </div>
  <div class="right m-auto mr-0 flex flex-row gap-x-10">
    <a href=""><p>O nas</p></a>
    <a href=""><p>Biżuteria</p></a>
  </div>
</header>
