<div [ngClass]="{ dark: theme == 'dark' }" class="">
  <h1 class="m-auto text-center w-fit cinzel text-4xl mb-8">
    {{ header }}
  </h1>
  <div class="content relative m-auto w-11/12 max-w-screen-3xl" #myElement>
    <img
      class="l_arrow"
      src="../../../assets/images/arrow-left.svg"
      class="arrow absolute left-0"
      [ngStyle]="{
        'top.px': element != null ? element.nativeElement.offsetHeight / 2 : 100
      }"
      (click)="moveRight()"
      *ngIf="showArrows"
    />
    <div
      class="flex gap-x-5 overflow-x-clip bg-red"
      [ngClass]="{ 'justify-center': !showArrows }"
      #containerElement
    >
      <div
        class="min-w-[calc((100%-1.25rem)/2)] sm:min-w-[calc((100%-3*1.25rem)/4)] lg:min-w-[calc((100%-4*1.25rem)/5)] w-1 item-container"
        *ngFor="let item of items"
        #child
      >
        <item
          src="../../assets/images/items/item 1.png"
          class="w-full"
          [name]="item.getName()"
          [price]="item.getPrice()"
          [src]="item.getSrc()"
          [id]="item.getId()"
          (childCreated)="setElement($event)"
        />
      </div>
    </div>
    <img
      class="r_arrow"
      src="../../../assets/images/arrow-right.svg"
      class="arrow absolute right-0"
      [ngStyle]="{ 'top.px': topPx }"
      (click)="moveLeft()"
      *ngIf="showArrows"
    />
  </div>
</div>
