.arrow {
  background-color: #fbfbfb;
  opacity: 80%;
  padding: 25px 8px;
  top: 140px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.dark {
  h1 {
    color: #e3a74d;
  }
  * {
    color: #fafafa;
  }
}
