 <div class="max-w-[1100px] grid grid-cols-2 sm:grid-cols-3 gap-5 m-auto my-auto">
   <div class="flex flex-col gap-y-5 h-fit">
     <present-link header="Do 600 zł" src="../../../assets/images/present 1.png" />
     <present-link header="PRZYJACIÓŁKA" src="../../../assets/images/present 3.png" [isLarge]="false" />
   </div>

   <div class="flex flex-col gap-y-5 h-fit">
     <present-link header="CÓRKA" src="../../../assets/images/present 2.png" [isLarge]="false" />
     <present-link header="MAMA" src="../../../assets/images/present 4.png" />
   </div>

   <div class="grid grid-cols-2 gap-5 sm:flex flex-col h-fit col-span-2 sm:col-span-1">
     <present-link header="DO 1000 ZŁ" src="../../../assets/images/present 5.png" />
     <present-link header="SIOSTRA" src="../../../assets/images/present 6.png" [isLarge]="false" />
   </div>
 </div>

 <div>

 </div>