footer {
  background-color: #edeeef;
  .top {
    a {
      font-weight: 400;
    }
  }
  .bottom {
    background-color: #d4d7d9;
    p {
      color: #1c1c1c;
    }
    a {
      color: #9e7136;
    }
  }
}
