<footer>
  <div
    class="top sm:flex grid grid-cols-2 justify-between lg:justify-center w-fit lg:w-4/5 max-w-screen-xl m-auto py-10 md:gap-x-16 lg:gap-x-36 gap-8"
  >
    <div class="info gap-y-2 flex flex-col">
      <h1 class="text-3xl">Vivida</h1>
      <p class="text-lg">Podbialowa 125</p>
      <p class="text-lg">Cracow</p>
      <p class="text-lg">607 761 708</p>
    </div>
    <div class="column">
      <h2 class="text-2xl lg:text-lg font-medium">Buy</h2>
      <div class="flex flex-col gap-y-2 my-2">
        <a href="/store/bracelets">Bracelets</a>
        <a href="/store/necklaces">Necklaces</a>
        <a href="/store/rings">Rings</a>
        <a href="/store/earrings">Earrings</a>
      </div>
    </div>
    <div class="column">
      <h2 class="text-2xl lg:text-lg font-medium">Informations</h2>
      <div class="flex flex-col gap-y-2 my-2">
        <a href="/about">About us</a>
        <a href="/contact">Contact</a>
      </div>
    </div>
    <div class="column">
      <h2 class="text-2xl lg:text-lg font-medium">Strony</h2>
      <div class="flex flex-col gap-y-2 my-2">
        <a href="/home">Home</a>
        <a href="/collections">Collections</a>
        <a href="/basket">Cart</a>
        <a href="/favourite">Favourite</a>
      </div>
    </div>
  </div>
  <div class="bottom py-5">
    <p class="w-fit m-auto">
      <a href="/icons">Icons authors</a>
    </p>
    <p class="w-fit m-auto">
      Website created by:
      <a href="https://mpages.pl" target="_blank">Mpages.pl</a>
    </p>
  </div>
</footer>
