<div class="title">
  <div
    class="w-4/5 max-w-screen-xl m-auto grid grid-cols-2 gap-y-10 min-h-64 py-6"
  >
    <div class="my-auto">
      <h1 class="text-5xl font-bold cinzel">{{ header }}</h1>
      <p>{{ description }}</p>
    </div>
    <div class="h-full relative">
      <img
        src="{{ src }}"
        alt=""
        class="absolute w-full h-full object-contain"
      />
    </div>
  </div>
</div>

<div class="w-4/5 mx-auto flex flex-col md:flex-row my-8 gap-x-10">
  <div class="filter min-w-64 relative mb-5 md:mb-0 md:sticky md:top-28 h-fit">
    <app-select />
    <filter header="Metal" [filter]="['Srebro', 'Złoto']" />
    <filter
      header="Kolekcja"
      [filter]="[
        'Eteryczna Harmonia',
        'Majestatyczne Opale',
        'Lustrzane Refleksje',
        'Złoty Rytuał'
      ]"
    />
  </div>
  <div
    class="w-auto items grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 ml-auto gap-5"
  >
    <item
      *ngFor="let item of items"
      [name]="item.getName()"
      [price]="1"
      [src]="item.getSrc()"
    ></item>
  </div>
</div>
