<div class="title">
  <div
    class="w-4/5 max-w-screen-xl m-auto md:grid grid-cols-2 gap-y-10 min-h-64 py-6"
  >
    <div class="my-auto">
      <h1 class="text-5xl font-bold cinzel mb-3 md:m-0">{{ header }}</h1>
      <p class="text-justify md:text-left">{{ description }}</p>
    </div>
    <div class="h-full relative hidden md:block">
      <img
        src="{{ src }}"
        alt=""
        class="absolute w-full h-full object-contain"
      />
    </div>
  </div>
</div>

<div class="w-4/5 mx-auto flex flex-col md:flex-row my-8 gap-x-10">
  <div class="filter min-w-64 relative mb-5 md:mb-0 md:sticky md:top-28 h-fit">
    <app-select [options]="sortData" (sendId)="sortItems($event)" />
    <filter
      header="Metal"
      [filter]="metals"
      (add)="addMetal($event)"
      (remove)="removeMetal($event)"
    />
    <filter
      header="Kolekcja"
      [filter]="collections"
      [startedCollection]="httpCollection"
      (add)="addCollection($event)"
      (remove)="removeCollection($event)"
    />
  </div>
  <div
    class="w-auto items grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 ml-auto gap-5"
  >
    <item
      *ngFor="let item of visibleItems"
      [name]="item.getName()"
      [price]="item.getPrice()"
      [src]="item.getSrc()"
      [id]="item.getId()"
    ></item>
  </div>
</div>
